
.services {
    background-color: black;
    color: white;
}

hr {
    height: 2px;
    background-image: -webkit-linear-gradient(left, rgb(0, 0, 0), rgb(255, 255, 255), rgb(255, 255, 255), rgb(0, 0, 0));
}

.myServiceText {
    text-align: center;
}

.myServiceText span{
    color: rgb(211, 23, 111);
}
.serviceIcon {
    color: rgb(211, 23, 111);
}
.serviceIcon span {
    border-color: rgb(211, 23, 111) !important;
}
.service {
    transition: 1s;
}
.service:hover {
    background-color: rgb(211, 23, 111);
    transform: scale(1.1);
    cursor: pointer;
}
.service:hover .serviceIcon {
    color: white;
}
.service:hover .serviceIcon span {
    border-color: white !important;
}